{% extends "base.html"%}
{% block content %}
<h3>The Silent Struggle: Navigating the Renal Diet</h3>
    <p>For many individuals diagnosed with chronic kidney disease (CKD),
adhering to a renal diet becomes a constant companion, 
a silent struggle woven into the daily tapestry of life.
It's a balancing act between necessity and desire,
a constant negotiation between health and the familiar comforts of food.</p>

<p>The initial shock can be overwhelming.
Familiar favorites - the warm comfort of a steaming bowl of chili,
the sweet indulgence of a slice of cake, or your favorite home meal - are suddenly off-limits, 
replaced with a list of restrictions and unfamiliar options.
The emotional toll can be significant, leaving individuals feeling isolated, frustrated, and even grieving the loss of a familiar way of relating to food.
</p>

<p> This App is intended to help individuals diagnose with (CKD),
     navigate through foods and meals that you can actually eat.
     In the search bar you can simply type in a food name,
     and the app will check if that item is recomended for Renal Diet.
{% endblock content %}
