<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <title>{{title}}</title>
</head>
<body>
        <header>
        <h1><a href={% url "home" %}></a>RAMoN</h1>
        <h3>Renal App Mostly on Nutrition</h3>
        <nav>
            <ul>
                <li><a href={% url "home" %}>Home</a></li>
                <li><a href={% url "recipes" %}>Recipes</a></li>
                <li><a href={% url "about" %}>About</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div>
    <footer id="footer">
        <p>&copy; 2024  WebApp created by Santos Lozano</p>
    </footer>
</div>
</body>
</html>